:root {
  --scalar-header-height: 64px;
  --scalar-heading-spacing: 64px;

  --scalar-heading-1: 28px;
  --scalar-heading-2: 24px;
  --scalar-heading-3: 20px;
}

.dark-mode {
  --scalar-background-1: #090b0f;
  --scalar-background-2: rgb(196, 210, 255, 0.05);
}

.t-editor .page-node>.t-editor__heading {
  margin-top: 44px;
}

.t-editor .page-node>.t-editor__heading+.t-editor__heading {
  margin-top: calc(var(--scalar-heading-spacing) * .35);
}

.page-node>h1:first-child {
  font-size: 32px;
}

.page-node>h1:first-child~p:first-of-type:nth-child(1n) {
  font-size: 18px;
}

.t-editor .page-node {
  max-width: min(100%, 840px)
}

.t-doc__header .header-item-link {
  padding: 12px 8px;
}

.t-doc__header .header-item-logo {
  height: 26px;
}

.t-doc__toc li {
  padding: 2px 16px;
  padding-left: 0;
}

.t-doc__toc .level-1~.level-2 {
  padding-left: 16px;
}

.t-doc__toc .level-3 {
  display: none;
}

.t-doc__toc h4 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 16px;
}

.t-doc__toc ul {
  border-left: none;
}

.t-doc__toc .outline-marker {
  display: none;
}

.t-editor__steps {
  margin-top: 24px;
}

.t-editor__steps p,
.t-editor__steps ul,
.t-editor__steps ol {
  margin-top: var(--scalar-block-spacing);
}

.custom-tabs-container .custom-tabs-content {
  border-bottom: none;
}

.custom-tabs-container .custom-tabs-content>div>div:first-of-type {
  margin-top: 0;
}