:root {
  --scalar-header-height: 64px;
  --scalar-heading-spacing: 64px;

  --scalar-heading-1: 28px;
  --scalar-heading-2: 24px;
  --scalar-heading-3: 20px;
}

.t-editor .page-node>.t-editor__heading {
  margin-top: 44px;
}

.page-node>h1:first-child {
  font-size: 32px;
}

.page-node>h1:first-child~p:first-of-type {
  font-size: 18px;
}

.t-editor .page-node {
  max-width: min(100%, 840px)
}

.t-doc__header .header-item-link {
  padding: 12px 8px;
}

.t-doc__toc li {
  padding: 2px 16px;
}

.t-doc__toc .level-3 {
  display: none;
}